<a href="https://colab.research.google.com/github/iupui-soic/pybootcamp/blob/main/ch_01_mimic_dataset_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/iupui-soic/handson-ml-mimic-iv.git

Cloning into 'handson-ml-mimic-iv'...
remote: Enumerating objects: 83, done.
remote: Counting objects: 100% (83/83), done.
remote: Compressing objects: 100% (68/68), done.
remote: Total 83 (delta 29), reused 40 (delta 13), pack-reused 0
Receiving objects: 100% (83/83), 3.86 MiB | 5.98 MiB/s, done.
Resolving deltas: 100% (29/29), done.

In [4]:
import os
print(os.getcwd())

/content

In [5]:
import os
os.chdir('/content/handson-ml-mimic-iv')

In [6]:
from mimic.mimic import MIMIC, MIMICManipulations

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
!pip install dask[complete] --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 19.1 MB/s eta 0:00:00

In [8]:
import os
import dask.dataframe as dd
import pandas as pd

In [9]:
#
dataset_path = '/content/drive/MyDrive/mimiv-iv'

def read_parquet_file(file_path):
    full_path = os.path.join(dataset_path, file_path)
    if os.path.exists(full_path):
        return dd.read_parquet(full_path)
    else:
        print(f"Given file path {full_path} doesn't exist.")
        return None

def read_core_admissions_parquet():
    return read_parquet_file('admissions.parquet')

def read_core_patients_parquet():
    return read_parquet_file('patients.parquet')

def read_core_transfers_parquet():
    return read_parquet_file('transfers.parquet')

def read_hosp_d_hcpcs_parquet():
    return read_parquet_file('d_hcpcs.parquet')

def read_hosp_d_icd_diagnoses_parquet():
    return read_parquet_file('d_icd_diagnoses.parquet')

def read_hosp_d_icd_procedures_parquet():
    return read_parquet_file('d_icd_procedures.parquet')

def read_hosp_d_labitems_parquet():
    return read_parquet_file('d_labitems.parquet')

def read_hosp_diagnoses_icd_parquet():
    return read_parquet_file('diagnoses_icd.parquet')

def read_hosp_drgcodes_parquet():
    return read_parquet_file('drgcodes.parquet')

def read_hosp_emar_parquet():
    return read_parquet_file('emar.parquet')

def read_hosp_emar_detail_parquet():
    return read_parquet_file('emar_detail.parquet')

def read_hosp_hcpcsevents_parquet():
    return read_parquet_file('hcpcsevents.parquet')

def read_hosp_labevents_parquet():
    return read_parquet_file('labevents.parquet')

def read_hosp_microbiologyevents_parquet():
    return read_parquet_file('microbiologyevents.parquet')

def read_hosp_pharmacy_parquet():
    return read_parquet_file('pharmacy.parquet')

def read_hosp_poe_parquet():
    return read_parquet_file('poe.parquet')

def read_hosp_poe_detail_parquet():
    return read_parquet_file('poe_detail.parquet')

def read_hosp_prescriptions_parquet():
    return read_parquet_file('prescriptions.parquet')

def read_hosp_procedures_icd_parquet():
    return read_parquet_file('procedures_icd.parquet')

def read_hosp_services_parquet():
    return read_parquet_file('services.parquet')

def read_icu_chartevents_parquet():
    return read_parquet_file('chartevents.parquet')

def read_icu_d_items_parquet():
    return read_parquet_file('d_items.parquet')

def read_icu_datetimeevents_parquet():
    return read_parquet_file('datetimeevents.parquet')

def read_icu_icustays_parquet():
    return read_parquet_file('icustays.parquet')

def read_icu_inputevents_parquet():
    return read_parquet_file('inputevents.parquet')

def read_icu_outputevents_parquet():
    return read_parquet_file('outputevents.parquet')

def read_icu_procedureevents_parquet():
    return read_parquet_file('procedureevents.parquet')

In [7]:
mimic_instance = MIMIC('/content/drive/MyDrive/mimiv-iv')

MIMIC dataset found at path : /content/drive/MyDrive/mimiv-iv

In [8]:
mimic_manipulation_instance = MIMICManipulations('/content/drive/MyDrive/mimiv-iv')

MIMIC dataset found at path : /content/drive/MyDrive/mimiv-iv

# MIMIC Core Admissions

In [11]:

# Read core admissions data
df_admissions = read_core_admissions_parquet()

# Process in chunks
for chunk in df_admissions.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id           admittime           dischtime deathtime  \
0    10000032  22595853 2180-05-06 22:23:00 2180-05-07 17:15:00       NaT
1    10000032  22841357 2180-06-26 18:27:00 2180-06-27 18:49:00       NaT
2    10000032  25742920 2180-08-05 23:44:00 2180-08-07 17:50:00       NaT
3    10000032  29079034 2180-07-23 12:35:00 2180-07-25 17:55:00       NaT
4    10000068  25022803 2160-03-03 23:16:00 2160-03-04 06:26:00       NaT

   admission_type admit_provider_id      admission_location  \
0          URGENT            P874LG  TRANSFER FROM HOSPITAL
1        EW EMER.            P09Q6Y          EMERGENCY ROOM
2        EW EMER.            P60CC5          EMERGENCY ROOM
3        EW EMER.            P30KEH          EMERGENCY ROOM
4  EU OBSERVATION            P51VDL          EMERGENCY ROOM

  discharge_location insurance language marital_status   race  \
0               HOME     Other  ENGLISH        WIDOWED  WHITE
1               HOME  Medicaid  ENGLISH        WIDOWED  WHITE
2            HOSPICE  Medicaid  ENGLISH        WIDOWED  WHITE
3               HOME  Medicaid  ENGLISH        WIDOWED  WHITE
4               <NA>     Other  ENGLISH         SINGLE  WHITE

            edregtime           edouttime  hospital_expire_flag
0 2180-05-06 19:17:00 2180-05-06 23:30:00                     0
1 2180-06-26 15:54:00 2180-06-26 21:31:00                     0
2 2180-08-05 20:58:00 2180-08-06 01:44:00                     0
3 2180-07-23 05:54:00 2180-07-23 14:00:00                     0
4 2160-03-03 21:55:00 2160-03-04 06:26:00                     0

In [14]:

# Select specific columns and process in chunks
for chunk in df_admissions[['subject_id', 'hadm_id', 'admittime', 'dischtime', 'admission_type',
                            'admission_location', 'discharge_location', 'insurance', 'language',
                            'marital_status', 'hospital_expire_flag']].to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id           admittime           dischtime  \
0    10000032  22595853 2180-05-06 22:23:00 2180-05-07 17:15:00
1    10000032  22841357 2180-06-26 18:27:00 2180-06-27 18:49:00
2    10000032  25742920 2180-08-05 23:44:00 2180-08-07 17:50:00
3    10000032  29079034 2180-07-23 12:35:00 2180-07-25 17:55:00
4    10000068  25022803 2160-03-03 23:16:00 2160-03-04 06:26:00

   admission_type      admission_location discharge_location insurance  \
0          URGENT  TRANSFER FROM HOSPITAL               HOME     Other
1        EW EMER.          EMERGENCY ROOM               HOME  Medicaid
2        EW EMER.          EMERGENCY ROOM            HOSPICE  Medicaid
3        EW EMER.          EMERGENCY ROOM               HOME  Medicaid
4  EU OBSERVATION          EMERGENCY ROOM               <NA>     Other

  language marital_status  hospital_expire_flag
0  ENGLISH        WIDOWED                     0
1  ENGLISH        WIDOWED                     0
2  ENGLISH        WIDOWED                     0
3  ENGLISH        WIDOWED                     0
4  ENGLISH         SINGLE                     0

In [37]:
df_admissions[['subject_id', 'hadm_id', 'admittime', 'dischtime', 'admission_type', 'admission_location', 'discharge_location', 'insurance', 'language',
                    'marital_status', 'hospital_expire_flag']].head()

,subject_id,hadm_id,admittime,dischtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,URGENT,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,EW EMER.,EMERGENCY ROOM,HOSPICE,Medicaid,ENGLISH,WIDOWED,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,EW EMER.,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,EU OBSERVATION,EMERGENCY ROOM,<NA>,Other,ENGLISH,SINGLE,0

In [39]:
df_admissions.isna().sum()

Dask Series Structure:
npartitions=1
admission_location    int64
subject_id              ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

In [40]:
df_admissions.describe()

Dask DataFrame Structure:
              subject_id  hadm_id admittime dischtime deathtime edregtime edouttime hospital_expire_flag
npartitions=1
                 float64  float64    string    string    string    string    string              float64
                     ...      ...       ...       ...       ...       ...       ...                  ...
Dask Name: to_pyarrow_string, 165 graph layers

In [41]:
df_admissions.dtypes

subject_id                        int32
hadm_id                           int32
admittime                datetime64[us]
dischtime                datetime64[us]
deathtime                datetime64[us]
admission_type          string[pyarrow]
admit_provider_id       string[pyarrow]
admission_location      string[pyarrow]
discharge_location      string[pyarrow]
insurance               string[pyarrow]
language                string[pyarrow]
marital_status          string[pyarrow]
race                    string[pyarrow]
edregtime                datetime64[us]
edouttime                datetime64[us]
hospital_expire_flag              int16
dtype: object

In [127]:
df_admissions.shape

(Delayed('int-9f049322-9bf3-4547-b53f-a250c35add70'), 16)

## MIMIC Core Patients

In [12]:
# Read core patients data
df_patients = read_core_patients_parquet()

# Process in chunks
for chunk in df_patients.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010        <NA>
2    10000068      F          19         2160       2008 - 2010        <NA>
3    10000084      M          72         2160       2017 - 2019  2161-02-13
4    10000102      F          27         2136       2008 - 2010        <NA>

In [42]:
df_patients.isna().sum()

Dask Series Structure:
npartitions=1
anchor_age    int64
subject_id      ...
dtype: int64
Dask Name: to_pyarrow_string, 6 graph layers

In [43]:
df_patients.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 6 entries, subject_id to dod
dtypes: int16(2), int32(1), string(3)

In [44]:
df_patients.describe()

Dask DataFrame Structure:
              subject_id anchor_age anchor_year
npartitions=1
                 float64    float64     float64
                     ...        ...         ...
Dask Name: to_pyarrow_string, 38 graph layers

In [45]:
df_patients.dtypes

subject_id                     int32
gender               string[pyarrow]
anchor_age                     int16
anchor_year                    int16
anchor_year_group    string[pyarrow]
dod                  string[pyarrow]
dtype: object

In [129]:
df_patients.shape

(Delayed('int-7da120ad-b411-4ca7-80b7-69d55a77c4a6'), 6)

## MIMIC Core transfers

In [13]:
# Read core transfers data
df_transfers = read_core_transfers_parquet()

# Process in chunks
for chunk in df_transfers.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id     hadm_id  transfer_id  eventtype              careunit  \
0    10000032  22595853.0     33258284         ED  Emergency Department
1    10000032  22595853.0     35223874      admit            Transplant
2    10000032  22595853.0     36904543  discharge                  <NA>
3    10000032  22841357.0     34100253  discharge                  <NA>
4    10000032  22841357.0     34703856      admit            Transplant

               intime             outtime
0 2180-05-06 19:17:00 2180-05-06 23:30:00
1 2180-05-06 23:30:00 2180-05-07 17:21:27
2 2180-05-07 17:21:27                 NaT
3 2180-06-27 18:49:12                 NaT
4 2180-06-26 21:31:00 2180-06-27 18:49:12

In [46]:
df_transfers.isna().sum()

Dask Series Structure:
npartitions=1
careunit       int64
transfer_id      ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

In [47]:
df_transfers.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 7 entries, subject_id to outtime
dtypes: datetime64[us](2), int32(3), string(2)

In [48]:
df_transfers.describe()

Dask DataFrame Structure:
              subject_id  hadm_id transfer_id  intime outtime
npartitions=1
                 float64  float64     float64  string  string
                     ...      ...         ...     ...     ...
Dask Name: to_pyarrow_string, 102 graph layers

In [49]:
df_transfers.dtypes

subject_id               int32
hadm_id                  int32
transfer_id              int32
eventtype      string[pyarrow]
careunit       string[pyarrow]
intime          datetime64[us]
outtime         datetime64[us]
dtype: object

## MIMIC ICU Procedure events

In [15]:
df_icu_procedureevents = read_icu_procedureevents_parquet()
for chunk in df_icu_procedureevents.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id   stay_id  caregiver_id           starttime  \
0    10000032  29079034  39553978       88981.0 2180-07-23 14:43:00
1    10000032  29079034  39553978           NaN 2180-07-23 14:24:00
2    10000032  29079034  39553978           NaN 2180-07-23 14:24:00
3    10000980  26913865  39765666           NaN 2189-06-27 09:01:00
4    10000980  26913865  39765666           NaN 2189-06-27 09:15:00

              endtime               storetime  itemid  value valueuom  ...  \
0 2180-07-23 14:44:00 2180-07-23 14:43:00.000  225966    1.0     None  ...
1 2180-07-23 23:50:00 2180-07-23 23:50:49.983  224275  566.0      min  ...
2 2180-07-23 23:50:00 2180-07-23 23:50:49.983  224277  566.0      min  ...
3 2189-06-27 20:38:00 2189-06-27 20:38:29.047  225794  697.0      min  ...
4 2189-06-27 20:38:00 2189-06-27 20:38:29.047  224277  683.0      min  ...

   orderid linkorderid  ordercategoryname  ordercategorydescription  \
0  6416557     6416557         Procedures                      Task
1  6497934     6497934   Peripheral Lines         ContinuousProcess
2  9643097     9643097   Peripheral Lines         ContinuousProcess
3  5989583     5989583        Ventilation         ContinuousProcess
4   476764      476764   Peripheral Lines         ContinuousProcess

  patientweight isopenbag  continueinnextdept  statusdescription  \
0     39.400002         0                   0    FinishedRunning
1     39.400002         1                   0    FinishedRunning
2     39.400002         1                   0    FinishedRunning
3     76.199997         1                   0    FinishedRunning
4     76.199997         1                   0    FinishedRunning

   originalamount originalrate
0             1.0          0.0
1           566.0          1.0
2           566.0          1.0
3           697.0          1.0
4           683.0          1.0

[5 rows x 22 columns]

In [50]:
df_icu_procedureevents.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 22 entries, subject_id to originalrate
dtypes: datetime64[us](3), float32(4), int16(2), int32(7), string(6)

In [51]:
df_icu_procedureevents.isna().sum()

Dask Series Structure:
npartitions=1
caregiver_id    int64
valueuom          ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

In [52]:
df_icu_procedureevents.describe()

Dask DataFrame Structure:
              subject_id  hadm_id  stay_id caregiver_id starttime endtime storetime   itemid    value  orderid linkorderid patientweight isopenbag continueinnextdept originalamount originalrate
npartitions=1
                 float64  float64  float64      float64    string  string    string  float64  float64  float64     float64       float64   float64            float64        float64      float64
                     ...      ...      ...          ...       ...     ...       ...      ...      ...      ...         ...           ...       ...                ...            ...          ...
Dask Name: to_pyarrow_string, 313 graph layers

In [53]:
df_icu_procedureevents.dtypes

subject_id                            int32
hadm_id                               int32
stay_id                               int32
caregiver_id                          int32
starttime                    datetime64[us]
endtime                      datetime64[us]
storetime                    datetime64[us]
itemid                                int32
value                               float32
valueuom                    string[pyarrow]
location                    string[pyarrow]
locationcategory            string[pyarrow]
orderid                               int32
linkorderid                           int32
ordercategoryname           string[pyarrow]
ordercategorydescription    string[pyarrow]
patientweight                       float32
isopenbag                             int16
continueinnextdept                    int16
statusdescription           string[pyarrow]
originalamount                      float32
originalrate                        float32
dtype: object

## MIMIC ICU Output events

In [17]:
df_icu_outputevents = read_icu_outputevents_parquet()
for chunk in df_icu_outputevents.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id   stay_id  caregiver_id           charttime  \
0    10000032  29079034  39553978         88981 2180-07-23 15:00:00
1    10000980  26913865  39765666         36518 2189-06-27 09:08:00
2    10000980  26913865  39765666         36518 2189-06-27 09:08:00
3    10000980  26913865  39765666         36518 2189-06-27 11:00:00
4    10000980  26913865  39765666         36518 2189-06-27 13:00:00

            storetime  itemid  value valueuom
0 2180-07-23 16:00:00  226560  175.0       ml
1 2189-06-27 09:08:00  226559  450.0       ml
2 2189-06-27 09:08:00  226633  400.0       ml
3 2189-06-27 10:51:00  226559  600.0       ml
4 2189-06-27 12:55:00  226559  800.0       ml

In [54]:
df_icu_outputevents.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 9 entries, subject_id to valueuom
dtypes: datetime64[us](2), float32(1), int32(5), string(1)

In [55]:
df_icu_outputevents.describe()

Dask DataFrame Structure:
              subject_id  hadm_id  stay_id caregiver_id charttime storetime   itemid    value
npartitions=1
                 float64  float64  float64      float64    string    string  float64  float64
                     ...      ...      ...          ...       ...       ...      ...      ...
Dask Name: to_pyarrow_string, 159 graph layers

In [56]:
df_icu_outputevents.isna().sum()

Dask Series Structure:
npartitions=1
caregiver_id    int64
valueuom          ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

In [57]:
df_icu_outputevents.dtypes

subject_id                int32
hadm_id                   int32
stay_id                   int32
caregiver_id              int32
charttime        datetime64[us]
storetime        datetime64[us]
itemid                    int32
value                   float32
valueuom        string[pyarrow]
dtype: object

## MIMIC ICU Input events

In [19]:
df_icu_inputevents = read_icu_inputevents_parquet()
for chunk in df_icu_inputevents.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id   stay_id  caregiver_id           starttime  \
0    10000032  29079034  39553978         66056 2180-07-23 21:10:00
1    10000032  29079034  39553978         88981 2180-07-23 17:00:00
2    10000032  29079034  39553978         88981 2180-07-23 17:00:00
3    10000032  29079034  39553978         88981 2180-07-23 17:33:00
4    10000032  29079034  39553978         88981 2180-07-23 18:56:00

              endtime           storetime  itemid  amount amountuom  ...  \
0 2180-07-23 21:11:00 2180-07-23 21:10:00  226452   100.0        ml  ...
1 2180-07-23 17:01:00 2180-07-23 18:56:00  226452   200.0        ml  ...
2 2180-07-23 17:30:00 2180-07-23 17:02:00  220862    50.0        ml  ...
3 2180-07-23 18:03:00 2180-07-23 18:16:00  220862    50.0        ml  ...
4 2180-07-23 18:57:00 2180-07-23 18:56:00  226452   100.0        ml  ...

   ordercomponenttypedescription ordercategorydescription  patientweight  \
0           Main order parameter                    Bolus      39.400002
1           Main order parameter                    Bolus      39.400002
2           Main order parameter            Continuous IV      39.400002
3           Main order parameter            Continuous IV      39.400002
4           Main order parameter                    Bolus      39.400002

   totalamount totalamountuom isopenbag continueinnextdept statusdescription  \
0        100.0             ml         0                  0   FinishedRunning
1        200.0             ml         0                  0   FinishedRunning
2         50.0             ml         0                  0   FinishedRunning
3         50.0             ml         0                  0   FinishedRunning
4        100.0             ml         0                  0   FinishedRunning

   originalamount  originalrate
0           100.0         100.0
1           200.0         200.0
2            50.0         100.0
3            50.0         100.0
4           100.0         100.0

[5 rows x 26 columns]

In [58]:
df_icu_inputevents.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 26 entries, subject_id to originalrate
dtypes: datetime64[us](3), float32(6), int16(2), int32(7), string(8)

In [59]:
df_icu_inputevents.describe()

Dask DataFrame Structure:
              subject_id  hadm_id  stay_id caregiver_id starttime endtime storetime   itemid   amount     rate  orderid linkorderid patientweight totalamount isopenbag continueinnextdept originalamount originalrate
npartitions=1
                 float64  float64  float64      float64    string  string    string  float64  float64  float64  float64     float64       float64     float64   float64            float64        float64      float64
                     ...      ...      ...          ...       ...     ...       ...      ...      ...      ...      ...         ...           ...         ...       ...                ...            ...          ...
Dask Name: to_pyarrow_string, 351 graph layers

In [60]:
df_icu_inputevents.dtypes

subject_id                                 int32
hadm_id                                    int32
stay_id                                    int32
caregiver_id                               int32
starttime                         datetime64[us]
endtime                           datetime64[us]
storetime                         datetime64[us]
itemid                                     int32
amount                                   float32
amountuom                        string[pyarrow]
rate                                     float32
rateuom                          string[pyarrow]
orderid                                    int32
linkorderid                                int32
ordercategoryname                string[pyarrow]
secondaryordercategoryname       string[pyarrow]
ordercomponenttypedescription    string[pyarrow]
ordercategorydescription         string[pyarrow]
patientweight                            float32
totalamount                              float32
totalamountuom                   string[pyarrow]
isopenbag                                  int16
continueinnextdept                         int16
statusdescription                string[pyarrow]
originalamount                           float32
originalrate                             float32
dtype: object

In [61]:
df_icu_inputevents.isna().sum()

Dask Series Structure:
npartitions=1
amount            int64
totalamountuom      ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

## MIMIC ICU Stays

In [20]:
df_icu_icustays = read_icu_icustays_parquet()
for chunk in df_icu_icustays.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id   stay_id  \
0    10000032  29079034  39553978
1    10000980  26913865  39765666
2    10001217  24597018  37067082
3    10001217  27703517  34592300
4    10001725  25563031  31205490

                                     first_careunit  \
0                Medical Intensive Care Unit (MICU)
1                Medical Intensive Care Unit (MICU)
2               Surgical Intensive Care Unit (SICU)
3               Surgical Intensive Care Unit (SICU)
4  Medical/Surgical Intensive Care Unit (MICU/SICU)

                                      last_careunit              intime  \
0                Medical Intensive Care Unit (MICU) 2180-07-23 14:00:00
1                Medical Intensive Care Unit (MICU) 2189-06-27 08:42:00
2               Surgical Intensive Care Unit (SICU) 2157-11-20 19:18:02
3               Surgical Intensive Care Unit (SICU) 2157-12-19 15:42:24
4  Medical/Surgical Intensive Care Unit (MICU/SICU) 2110-04-11 15:52:22

              outtime       los
0 2180-07-23 23:50:47  0.410266
1 2189-06-27 20:38:27  0.497535
2 2157-11-21 22:08:00  1.118032
3 2157-12-20 14:27:41  0.948113
4 2110-04-12 23:59:56  1.338588

In [62]:
df_icu_icustays.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 8 entries, subject_id to los
dtypes: datetime64[us](2), float32(1), int32(3), string(2)

In [64]:
df_icu_icustays.describe()

Dask DataFrame Structure:
              subject_id  hadm_id  stay_id  intime outtime      los
npartitions=1
                 float64  float64  float64  string  string  float64
                     ...      ...      ...     ...     ...      ...
Dask Name: to_pyarrow_string, 121 graph layers

In [65]:
df_icu_icustays.isna().sum()

Dask Series Structure:
npartitions=1
first_careunit    int64
subject_id          ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

In [66]:
df_icu_icustays.dtypes

subject_id                  int32
hadm_id                     int32
stay_id                     int32
first_careunit    string[pyarrow]
last_careunit     string[pyarrow]
intime             datetime64[us]
outtime            datetime64[us]
los                       float32
dtype: object

## ICU Datetime events

In [21]:
df_icu_datetimeevents = read_icu_datetimeevents_parquet()
for chunk in df_icu_datetimeevents.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id   stay_id  caregiver_id           charttime  \
0    10000032  29079034  39553978         66056 2180-07-23 21:02:00
1    10000032  29079034  39553978         66056 2180-07-23 21:02:00
2    10000032  29079034  39553978         88981 2180-07-23 14:24:00
3    10000032  29079034  39553978         88981 2180-07-23 14:24:00
4    10000980  26913865  39765666         36518 2189-06-27 09:13:00

            storetime  itemid               value valueuom  warning
0 2180-07-23 21:02:00  225754 2180-07-23 00:00:00     Date        0
1 2180-07-23 21:02:00  225755 2180-07-23 00:00:00     Date        0
2 2180-07-23 14:24:00  225754 2180-07-23 14:24:00     Date        0
3 2180-07-23 14:24:00  225755 2180-07-23 14:24:00     Date        0
4 2189-06-27 09:13:00  225755 2189-06-27 09:13:00     Date        0

In [67]:
df_icu_datetimeevents.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 10 entries, subject_id to warning
dtypes: datetime64[us](3), int16(1), int32(5), string(1)

In [68]:
df_icu_datetimeevents.describe()

Dask DataFrame Structure:
              subject_id  hadm_id  stay_id caregiver_id charttime storetime   itemid   value  warning
npartitions=1
                 float64  float64  float64      float64    string    string  float64  string  float64
                     ...      ...      ...          ...       ...       ...      ...     ...      ...
Dask Name: to_pyarrow_string, 180 graph layers

In [69]:
df_icu_datetimeevents.isna().sum()

Dask Series Structure:
npartitions=1
caregiver_id    int64
warning           ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

In [71]:
df_icu_datetimeevents.dtypes

subject_id                int32
hadm_id                   int32
stay_id                   int32
caregiver_id              int32
charttime        datetime64[us]
storetime        datetime64[us]
itemid                    int32
value            datetime64[us]
valueuom        string[pyarrow]
warning                   int16
dtype: object

## ICU d_items

In [22]:
df_icu_d_items = read_icu_d_items_parquet()
for chunk in df_icu_d_items.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   itemid                    label        abbreviation         linksto  \
0  220001             Problem List        Problem List     chartevents
1  220003       ICU Admission date  ICU Admission date  datetimeevents
2  220045               Heart Rate                  HR     chartevents
3  220046  Heart rate Alarm - High     HR Alarm - High     chartevents
4  220047   Heart Rate Alarm - Low      HR Alarm - Low     chartevents

              category unitname     param_type  lownormalvalue  \
0              General     <NA>           Text             NaN
1                  ADT     <NA>  Date and time             NaN
2  Routine Vital Signs      bpm        Numeric             NaN
3               Alarms      bpm        Numeric             NaN
4               Alarms      bpm        Numeric             NaN

   highnormalvalue
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

In [72]:
df_icu_d_items.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 9 entries, itemid to highnormalvalue
dtypes: float32(2), int32(1), string(6)

In [73]:
df_icu_d_items.dtypes

itemid                       int32
label              string[pyarrow]
abbreviation       string[pyarrow]
linksto            string[pyarrow]
category           string[pyarrow]
unitname           string[pyarrow]
param_type         string[pyarrow]
lownormalvalue             float32
highnormalvalue            float32
dtype: object

In [74]:
df_icu_d_items.describe()

Dask DataFrame Structure:
                itemid lownormalvalue highnormalvalue
npartitions=1
               float64        float64         float64
                   ...            ...             ...
Dask Name: to_pyarrow_string, 37 graph layers

In [75]:
df_icu_d_items.isna().sum()

Dask Series Structure:
npartitions=1
abbreviation    int64
unitname          ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

## Hospital services data

In [76]:
df_hosp_services = read_hosp_services_parquet()
for chunk in df_hosp_services.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id        transfertime prev_service curr_service
0    10000032  22595853 2180-05-06 22:24:57         <NA>          MED
1    10000032  22841357 2180-06-26 18:28:08         <NA>          MED
2    10000032  25742920 2180-08-05 23:44:50         <NA>          MED
3    10000032  29079034 2180-07-23 12:36:04         <NA>          MED
4    10000068  25022803 2160-03-03 23:17:17         <NA>          MED

In [77]:
df_hosp_services.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 5 entries, subject_id to curr_service
dtypes: datetime64[us](1), int32(2), string(2)

In [78]:
df_hosp_services.describe()

Dask DataFrame Structure:
              subject_id  hadm_id transfertime
npartitions=1
                 float64  float64       string
                     ...      ...          ...
Dask Name: to_pyarrow_string, 62 graph layers

In [79]:
df_hosp_services.dtypes

subject_id                int32
hadm_id                   int32
transfertime     datetime64[us]
prev_service    string[pyarrow]
curr_service    string[pyarrow]
dtype: object

In [82]:
df_hosp_services.isna().sum()

Dask Series Structure:
npartitions=1
curr_service    int64
transfertime      ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

## MIMIC Hospital Procedures

In [24]:
df_hosp_procedures_icd = read_hosp_procedures_icd_parquet()
for chunk in df_hosp_procedures_icd.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0    10000032  22595853        1  2180-05-07     5491            9
1    10000032  22841357        1  2180-06-27     5491            9
2    10000032  25742920        1  2180-08-06     5491            9
3    10000068  25022803        1  2160-03-03     8938            9
4    10000117  27988844        1  2183-09-19  0QS734Z           10

In [80]:
df_hosp_procedures_icd.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 6 entries, subject_id to icd_version
dtypes: int16(1), int32(3), string(2)

In [83]:
df_hosp_procedures_icd.isna().sum()

Dask Series Structure:
npartitions=1
chartdate     int64
subject_id      ...
dtype: int64
Dask Name: to_pyarrow_string, 6 graph layers

## MIMIC Hospital prescriptions

In [25]:
df_hosp_prescriptions = read_hosp_prescriptions_parquet()
for chunk in df_hosp_prescriptions.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id  pharmacy_id       poe_id  poe_seq order_provider_id  \
0    10000032  22595853     11700683  10000032-34     34.0            P76JEQ
1    10000032  22595853     14779570  10000032-22     22.0            P76JEQ
2    10000032  22595853     19796602  10000032-50     50.0            P260SK
3    10000032  22595853     20256254  10000032-32     32.0            P76JEQ
4    10000032  22595853     28781051  10000032-27     27.0            P76JEQ

            starttime            stoptime drug_type  \
0 2180-05-07 01:00:00 2180-05-07 22:00:00      MAIN
1 2180-05-07 00:00:00 2180-05-07 22:00:00      MAIN
2 2180-05-08 08:00:00 2180-05-07 22:00:00      MAIN
3 2180-05-07 01:00:00 2180-05-07 22:00:00      MAIN
4 2180-05-07 00:00:00 2180-05-07 22:00:00      MAIN

                          drug  ...     gsn          ndc  \
0                Acetaminophen  ...  004490  00904198861
1  Sodium Chloride 0.9%  Flush  ...    <NA>            0
2                   Furosemide  ...  008209  51079007320
3                  Raltegravir  ...  063231  00006022761
4                      Heparin  ...  006549  63323026201

               prod_strength form_rx dose_val_rx dose_unit_rx form_val_disp  \
0               500mg Tablet    <NA>         500           mg             1
1              10 mL Syringe    <NA>           3           mL           0.3
2                40mg Tablet    <NA>          40           mg             1
3              400 mg Tablet    <NA>         400           mg             1
4  5000 Units / mL- 1mL Vial    <NA>        5000         UNIT             1

  form_unit_disp doses_per_24_hrs  route
0            TAB              NaN  PO/NG
1            SYR              3.0     IV
2            TAB              1.0  PO/NG
3            TAB              2.0     PO
4             mL              3.0     SC

[5 rows x 21 columns]

In [81]:
df_hosp_procedures_icd.describe()

Dask DataFrame Structure:
              subject_id  hadm_id  seq_num icd_version
npartitions=1
                 float64  float64  float64     float64
                     ...      ...      ...         ...
Dask Name: to_pyarrow_string, 41 graph layers

In [84]:
df_hosp_prescriptions.isna().sum()

Dask Series Structure:
npartitions=1
dose_unit_rx    int64
subject_id        ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

## MIMIC Hospital Poe detail

In [26]:
df_hosp_poe_detail = read_hosp_poe_detail_parquet()
for chunk in df_hosp_poe_detail.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

         poe_id  poe_seq  subject_id          field_name         field_value
0  10000032-104      104    10000032      Admit category  Admit to inpatient
1  10000032-104      104    10000032            Admit to            Medicine
2  10000032-109      109    10000032      Admit category  Admit to inpatient
3  10000032-109      109    10000032  Discharge Planning           Finalized
4  10000032-111      111    10000032      Admit category  Admit to inpatient

In [85]:
df_hosp_poe_detail.isna().sum()

Dask Series Structure:
npartitions=1
field_name    int64
subject_id      ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

In [86]:
df_hosp_poe_detail.describe()

Dask DataFrame Structure:
               poe_seq subject_id
npartitions=1
               float64    float64
                   ...        ...
Dask Name: to_pyarrow_string, 34 graph layers

In [87]:
df_hosp_poe_detail.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 5 entries, poe_id to field_value
dtypes: int32(2), string(3)

In [88]:
df_hosp_poe_detail.dtypes

poe_id         string[pyarrow]
poe_seq                  int32
subject_id               int32
field_name     string[pyarrow]
field_value    string[pyarrow]
dtype: object

## MIMIC Hospital poe data

In [27]:
df_hosp_poe = read_hosp_poe_parquet()
for chunk in df_hosp_poe.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

         poe_id  poe_seq  subject_id   hadm_id           ordertime  \
0   10000032-10       10    10000032  22595853 2180-05-06 20:50:49
1  10000032-100      100    10000032  22841357 2180-06-26 22:25:43
2  10000032-102      102    10000032  22841357 2180-06-26 22:37:06
3  10000032-103      103    10000032  22841357 2180-06-26 22:37:06
4  10000032-104      104    10000032  22841357 2180-06-27 07:06:36

    order_type   order_subtype transaction_type discontinue_of_poe_id  \
0          Lab            <NA>              New                  <NA>
1  Respiratory  Oxygen Therapy              New                  <NA>
2  Medications            <NA>              D/C           10000032-93
3  Medications            <NA>           Change           10000032-89
4   ADT orders           Admit           Change           10000032-75

  discontinued_by_poe_id order_provider_id order_status
0                   <NA>            P9705S     Inactive
1                   <NA>            P8971Q     Inactive
2                   <NA>            P8971Q     Inactive
3                   <NA>            P8971Q     Inactive
4                   <NA>            P61HH1     Inactive

In [89]:
df_hosp_poe.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 12 entries, poe_id to order_status
dtypes: datetime64[us](1), int32(3), string(8)

In [90]:
df_hosp_poe.dtypes

poe_id                    string[pyarrow]
poe_seq                             int32
subject_id                          int32
hadm_id                             int32
ordertime                  datetime64[us]
order_type                string[pyarrow]
order_subtype             string[pyarrow]
transaction_type          string[pyarrow]
discontinue_of_poe_id     string[pyarrow]
discontinued_by_poe_id    string[pyarrow]
order_provider_id         string[pyarrow]
order_status              string[pyarrow]
dtype: object

In [91]:
df_hosp_poe.describe()

Dask DataFrame Structure:
               poe_seq subject_id  hadm_id ordertime
npartitions=1
               float64    float64  float64    string
                   ...        ...      ...       ...
Dask Name: to_pyarrow_string, 81 graph layers

In [92]:
df_hosp_poe.isna().sum()

Dask Series Structure:
npartitions=1
discontinue_of_poe_id    int64
transaction_type           ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

## Hospital Pharmacy Data

In [28]:
df_hosp_pharmacy = read_hosp_pharmacy_parquet()
for chunk in df_hosp_pharmacy.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id  pharmacy_id       poe_id           starttime  \
0    10000032  22595853     11700683  10000032-34 2180-05-07 01:00:00
1    10000032  22595853     14779570  10000032-22 2180-05-07 00:00:00
2    10000032  22595853     19796602  10000032-50 2180-05-08 08:00:00
3    10000032  22595853     20256254  10000032-32 2180-05-07 01:00:00
4    10000032  22595853     28781051  10000032-27 2180-05-07 00:00:00

             stoptime                   medication  proc_type  \
0 2180-05-07 22:00:00                Acetaminophen  Unit Dose
1 2180-05-07 22:00:00  Sodium Chloride 0.9%  Flush  Unit Dose
2 2180-05-07 22:00:00                   Furosemide  Unit Dose
3 2180-05-07 22:00:00                  Raltegravir  Unit Dose
4 2180-05-07 22:00:00                      Heparin  Unit Dose

                               status           entertime  ... basal_rate  \
0  Discontinued via patient discharge 2180-05-07 00:09:24  ...        NaN
1  Discontinued via patient discharge 2180-05-07 00:00:54  ...        NaN
2  Discontinued via patient discharge 2180-05-07 09:32:35  ...        NaN
3  Discontinued via patient discharge 2180-05-07 00:09:24  ...        NaN
4  Discontinued via patient discharge 2180-05-07 00:00:54  ...        NaN

  one_hr_max doses_per_24_hrs duration duration_interval expiration_value  \
0       <NA>              NaN      NaN           Ongoing             36.0
1       <NA>              3.0      NaN           Ongoing             36.0
2       <NA>              1.0      NaN           Ongoing             36.0
3       <NA>              2.0      NaN           Ongoing             36.0
4       <NA>              3.0      NaN           Ongoing             36.0

  expiration_unit  expirationdate      dispensation  fill_quantity
0           Hours             NaT          Omnicell           <NA>
1           Hours             NaT  Floor Stock Item           <NA>
2           Hours             NaT          Omnicell           <NA>
3           Hours             NaT          Omnicell           <NA>
4           Hours             NaT          Omnicell           <NA>

[5 rows x 27 columns]

In [93]:
df_hosp_pharmacy.dtypes

subject_id                     int32
hadm_id                        int32
pharmacy_id                    int32
poe_id               string[pyarrow]
starttime             datetime64[us]
stoptime              datetime64[us]
medication           string[pyarrow]
proc_type            string[pyarrow]
status               string[pyarrow]
entertime             datetime64[us]
verifiedtime          datetime64[us]
route                string[pyarrow]
frequency            string[pyarrow]
disp_sched           string[pyarrow]
infusion_type        string[pyarrow]
sliding_scale        string[pyarrow]
lockout_interval     string[pyarrow]
basal_rate                   float32
one_hr_max           string[pyarrow]
doses_per_24_hrs             float32
duration                     float32
duration_interval    string[pyarrow]
expiration_value               int32
expiration_unit      string[pyarrow]
expirationdate        datetime64[us]
dispensation         string[pyarrow]
fill_quantity        string[pyarrow]
dtype: object

In [94]:
df_hosp_pharmacy.describe()

Dask DataFrame Structure:
              subject_id  hadm_id pharmacy_id starttime stoptime entertime verifiedtime basal_rate doses_per_24_hrs duration expiration_value expirationdate
npartitions=1
                 float64  float64     float64    string   string    string       string    float64          float64  float64          float64         string
                     ...      ...         ...       ...      ...       ...          ...        ...              ...      ...              ...            ...
Dask Name: to_pyarrow_string, 241 graph layers

In [95]:
df_hosp_pharmacy.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 27 entries, subject_id to fill_quantity
dtypes: datetime64[us](5), float32(3), int32(4), string(15)

In [96]:
df_hosp_pharmacy.isna().sum()

Dask Series Structure:
npartitions=1
basal_rate      int64
verifiedtime      ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

## Hospital microbiology events data

In [29]:
df_hosp_microbiologyevents = read_hosp_microbiologyevents_parquet()
for chunk in df_hosp_microbiologyevents.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   microevent_id  subject_id  hadm_id  micro_specimen_id order_provider_id  \
0              1    10000032      NaN             636109            P28Z0X
1              2    10000032      NaN            1836584            P28Z0X
2              3    10000032      NaN            4131591            P28Z0X
3              4    10000032      NaN            4131591            P28Z0X
4              5    10000032      NaN            6028147            P28Z0X

   chartdate           charttime  spec_itemid  spec_type_desc  test_seq  ...  \
0 2180-03-23 2180-03-23 11:51:00        70093    Blood (Toxo)         1  ...
1 2180-03-23 2180-03-23 11:51:00        70017  SEROLOGY/BLOOD         1  ...
2 2180-03-23 2180-03-23 11:51:00        70087  Blood (CMV AB)         1  ...
3 2180-03-23 2180-03-23 11:51:00        70087  Blood (CMV AB)         2  ...
4 2180-03-23 2180-03-23 11:51:00        70088     Blood (EBV)         1  ...

  org_name isolate_num  quantity ab_itemid  ab_name dilution_text  \
0     <NA>         NaN      <NA>       NaN     <NA>          <NA>
1     <NA>         NaN      <NA>       NaN     <NA>          <NA>
2     <NA>         NaN      <NA>       NaN     <NA>          <NA>
3     <NA>         NaN      <NA>       NaN     <NA>          <NA>
4     <NA>         NaN      <NA>       NaN     <NA>          <NA>

   dilution_comparison dilution_value  interpretation  \
0                 <NA>            NaN            <NA>
1                 <NA>            NaN            <NA>
2                 <NA>            NaN            <NA>
3                 <NA>            NaN            <NA>
4                 <NA>            NaN            <NA>

                                            comments
0  NEGATIVE FOR TOXOPLASMA IgG ANTIBODY BY EIA.  ...
1  POSITIVE BY EIA.  A positive IgG result genera...
2                                                ___
3  NEGATIVE FOR CMV IgM ANTIBODY BY EIA.  INTERPR...
4                                 POSITIVE BY EIA.

[5 rows x 25 columns]

In [97]:
df_hosp_microbiologyevents.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 25 entries, microevent_id to comments
dtypes: datetime64[us](4), float64(1), int16(1), int32(9), string(10)

In [98]:
df_hosp_microbiologyevents.describe()

Dask DataFrame Structure:
              microevent_id subject_id  hadm_id micro_specimen_id chartdate charttime spec_itemid test_seq storedate storetime test_itemid org_itemid isolate_num ab_itemid dilution_value
npartitions=1
                    float64    float64  float64           float64    string    string     float64  float64    string    string     float64    float64     float64   float64        float64
                        ...        ...      ...               ...       ...       ...         ...      ...       ...       ...         ...        ...         ...       ...            ...
Dask Name: to_pyarrow_string, 296 graph layers

In [99]:
df_hosp_microbiologyevents.dtypes

microevent_id                    int32
subject_id                       int32
hadm_id                          int32
micro_specimen_id                int32
order_provider_id      string[pyarrow]
chartdate               datetime64[us]
charttime               datetime64[us]
spec_itemid                      int32
spec_type_desc         string[pyarrow]
test_seq                         int32
storedate               datetime64[us]
storetime               datetime64[us]
test_itemid                      int32
test_name              string[pyarrow]
org_itemid                       int32
org_name               string[pyarrow]
isolate_num                      int16
quantity               string[pyarrow]
ab_itemid                        int32
ab_name                string[pyarrow]
dilution_text          string[pyarrow]
dilution_comparison    string[pyarrow]
dilution_value                 float64
interpretation         string[pyarrow]
comments               string[pyarrow]
dtype: object

In [100]:
df_hosp_microbiologyevents.isna().sum()

Dask Series Structure:
npartitions=1
ab_itemid    int64
test_seq       ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

## MIMIC Hospital EMAR data

In [30]:
df_hosp_emar = read_hosp_emar_parquet()
for chunk in df_hosp_emar.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id     hadm_id      emar_id  emar_seq       poe_id  pharmacy_id  \
0    10000032  22595853.0  10000032-10        10  10000032-36   48770010.0
1    10000032  22595853.0  10000032-11        11  10000032-22   14779570.0
2    10000032  22595853.0  10000032-12        12  10000032-37   93463122.0
3    10000032  22595853.0  10000032-13        13  10000032-28   42497745.0
4    10000032  22595853.0  10000032-14        14  10000032-29   69131933.0

  enter_provider_id           charttime                         medication  \
0              <NA> 2180-05-07 00:44:00                 Potassium Chloride
1              <NA> 2180-05-07 00:44:00        Sodium Chloride 0.9%  Flush
2              <NA> 2180-05-07 06:10:00            Ipratropium Bromide Neb
3              <NA> 2180-05-07 05:00:00                  Albuterol Inhaler
4              <NA> 2180-05-07 07:51:00  Emtricitabine-Tenofovir (Truvada)

      event_txt        scheduletime           storetime
0  Administered 2180-05-07 00:44:00 2180-05-07 00:44:00
1       Flushed 2180-05-07 00:44:00 2180-05-07 00:44:00
2  Administered 2180-05-07 06:00:00 2180-05-07 06:10:00
3  Administered 2180-05-07 06:29:00 2180-05-07 06:29:00
4  Administered 2180-05-07 08:00:00 2180-05-07 07:56:00

In [101]:
df_hosp_emar.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 12 entries, subject_id to storetime
dtypes: datetime64[us](3), int32(4), string(5)

In [102]:
df_hosp_emar.describe()

Dask DataFrame Structure:
              subject_id  hadm_id emar_seq pharmacy_id charttime scheduletime storetime
npartitions=1
                 float64  float64  float64     float64    string       string    string
                     ...      ...      ...         ...       ...          ...       ...
Dask Name: to_pyarrow_string, 142 graph layers

In [103]:
df_hosp_emar.dtypes

subject_id                     int32
hadm_id                        int32
emar_id              string[pyarrow]
emar_seq                       int32
poe_id               string[pyarrow]
pharmacy_id                    int32
enter_provider_id    string[pyarrow]
charttime             datetime64[us]
medication           string[pyarrow]
event_txt            string[pyarrow]
scheduletime          datetime64[us]
storetime             datetime64[us]
dtype: object

In [104]:
df_hosp_emar.isna().sum()

Dask Series Structure:
npartitions=1
charttime     int64
subject_id      ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

## MIMIC Hospital drgcodes data

In [31]:
df_hosp_drgcodes = read_hosp_drgcodes_parquet()
for chunk in df_hosp_drgcodes.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id drg_type drg_code  \
0    10000032  22595853      APR      283
1    10000032  22595853     HCFA      442
2    10000032  22841357      APR      279
3    10000032  22841357     HCFA      442
4    10000032  25742920      APR      283

                                         description  drg_severity  \
0                       OTHER DISORDERS OF THE LIVER           2.0
1  DISORDERS OF LIVER EXCEPT MALIG,CIRR,ALC HEPA ...           NaN
2   HEPATIC COMA & OTHER MAJOR ACUTE LIVER DISORDERS           3.0
3  DISORDERS OF LIVER EXCEPT MALIG,CIRR,ALC HEPA ...           NaN
4                       OTHER DISORDERS OF THE LIVER           3.0

   drg_mortality
0            2.0
1            NaN
2            2.0
3            NaN
4            2.0

In [105]:
df_hosp_drgcodes.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 7 entries, subject_id to drg_mortality
dtypes: int16(2), int32(2), string(3)

In [106]:
df_hosp_drgcodes.describe()

Dask DataFrame Structure:
              subject_id  hadm_id drg_severity drg_mortality
npartitions=1
                 float64  float64      float64       float64
                     ...      ...          ...           ...
Dask Name: to_pyarrow_string, 40 graph layers

In [107]:
df_hosp_drgcodes.dtypes

subject_id                 int32
hadm_id                    int32
drg_type         string[pyarrow]
drg_code         string[pyarrow]
description      string[pyarrow]
drg_severity               int16
drg_mortality              int16
dtype: object

In [108]:
df_hosp_drgcodes.isna().sum()

Dask Series Structure:
npartitions=1
description    int64
subject_id       ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

## MIMIC Hospital diagnoses_icd data

In [32]:
df_hosp_diagnoses_icd = read_hosp_diagnoses_icd_parquet()
for chunk in df_hosp_diagnoses_icd.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10000032  22595853        1     5723            9
1    10000032  22595853        2    78959            9
2    10000032  22595853        3     5715            9
3    10000032  22595853        4    07070            9
4    10000032  22595853        5      496            9

In [109]:
df_hosp_diagnoses_icd.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 5 entries, subject_id to icd_version
dtypes: int16(1), int32(3), string(1)

In [110]:
df_hosp_diagnoses_icd.dtypes

subject_id               int32
hadm_id                  int32
seq_num                  int32
icd_code       string[pyarrow]
icd_version              int16
dtype: object

In [111]:
df_hosp_diagnoses_icd.describe()

Dask DataFrame Structure:
              subject_id  hadm_id  seq_num icd_version
npartitions=1
                 float64  float64  float64     float64
                     ...      ...      ...         ...
Dask Name: to_pyarrow_string, 40 graph layers

In [112]:
df_hosp_diagnoses_icd.isna().sum()

Dask Series Structure:
npartitions=1
hadm_id       int64
subject_id      ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

## MIMIC Hospital labitems data

In [33]:
df_hosp_d_labitems = read_hosp_d_labitems_parquet()
for chunk in df_hosp_d_labitems.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

   itemid                                label  fluid   category
0   50801           Alveolar-arterial Gradient  Blood  Blood Gas
1   50802                          Base Excess  Blood  Blood Gas
2   50803  Calculated Bicarbonate, Whole Blood  Blood  Blood Gas
3   50804                 Calculated Total CO2  Blood  Blood Gas
4   50805                    Carboxyhemoglobin  Blood  Blood Gas

In [113]:
df_hosp_d_labitems.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 4 entries, itemid to category
dtypes: int32(1), string(3)

In [114]:
df_hosp_d_labitems.describe()

Dask DataFrame Structure:
                itemid
npartitions=1
               float64
                   ...
Dask Name: to_pyarrow_string, 31 graph layers

In [115]:
df_hosp_d_labitems.isna().sum()

Dask Series Structure:
npartitions=1
category    int64
label         ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

## MIMIC Hospital d_icd_procedures

In [34]:
df_hosp_d_icd_procedures = read_hosp_d_icd_procedures_parquet()
for chunk in df_hosp_d_icd_procedures.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

  icd_code  icd_version                                         long_title
0     0001            9  Therapeutic ultrasound of vessels of head and ...
1     0002            9                    Therapeutic ultrasound of heart
2     0003            9  Therapeutic ultrasound of peripheral vascular ...
3     0009            9                       Other therapeutic ultrasound
4      001           10  Central Nervous System and Cranial Nerves, Bypass

In [116]:
df_hosp_d_icd_procedures.dtypes

icd_code       string[pyarrow]
icd_version              int16
long_title     string[pyarrow]
dtype: object

In [117]:
df_hosp_d_icd_procedures.isna().sum()

Dask Series Structure:
npartitions=1
icd_code      int64
long_title      ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

In [118]:
df_hosp_d_icd_procedures.describe()

Dask DataFrame Structure:
              icd_version
npartitions=1
                  float64
                      ...
Dask Name: to_pyarrow_string, 31 graph layers

## MIMIC Hospital d_icd_diagnosis

In [35]:
df_hosp_d_icd_diagnoses = read_hosp_d_icd_diagnoses_parquet()
for chunk in df_hosp_d_icd_diagnoses.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

  icd_code  icd_version                             long_title
0     0010            9         Cholera due to vibrio cholerae
1     0011            9  Cholera due to vibrio cholerae el tor
2     0019            9                   Cholera, unspecified
3     0020            9                          Typhoid fever
4     0021            9                    Paratyphoid fever A

In [119]:
df_hosp_d_icd_diagnoses.dtypes

icd_code       string[pyarrow]
icd_version              int16
long_title     string[pyarrow]
dtype: object

In [120]:
df_hosp_d_icd_diagnoses.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 3 entries, icd_code to long_title
dtypes: int16(1), string(2)

In [121]:
df_hosp_d_icd_diagnoses.describe()

Dask DataFrame Structure:
              icd_version
npartitions=1
                  float64
                      ...
Dask Name: to_pyarrow_string, 31 graph layers

In [122]:
df_hosp_d_icd_diagnoses.isna().sum()

Dask Series Structure:
npartitions=1
icd_code      int64
long_title      ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

## MIMIC Hospital d_hcpcs data

In [36]:
df_hosp_d_hcpcs = read_hosp_d_hcpcs_parquet()
for chunk in df_hosp_d_hcpcs.to_delayed():
    chunk_df = chunk.compute()
    print(chunk_df.head())

    code  category long_description   short_description
0  00000       NaN             <NA>        Invalid Code
1  0001F       2.0             <NA>  Composite measures
2  0002F       2.0             <NA>  Composite measures
3  0003F       2.0             <NA>  Composite measures
4  0004F       2.0             <NA>  Composite measures

In [123]:
df_hosp_d_hcpcs.dtypes

code                 string[pyarrow]
category                       int16
long_description     string[pyarrow]
short_description    string[pyarrow]
dtype: object

In [124]:
df_hosp_d_hcpcs.isna().sum()

Dask Series Structure:
npartitions=1
category             int64
short_description      ...
dtype: int64
Dask Name: to_pyarrow_string, 5 graph layers

In [125]:
df_hosp_d_hcpcs.describe()

Dask DataFrame Structure:
              category
npartitions=1
               float64
                   ...
Dask Name: to_pyarrow_string, 31 graph layers

In [126]:
df_hosp_d_hcpcs.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 4 entries, code to short_description
dtypes: int16(1), string(3)

# Merge Data on the basis of subject_id index

1. Merge patients and admissions

In [132]:
df_merge = df_admissions.merge(df_patients, left_index=True, right_index=True)
print(len(df_merge))
df_merge.head()

299712

,subject_id_x,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,race,edregtime,edouttime,hospital_expire_flag,subject_id_y,gender,anchor_age,anchor_year,anchor_year_group,dod
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0,10000032,F,52,2180,2014 - 2016,2180-09-09
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0,10000048,F,23,2126,2008 - 2010,<NA>
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0,10000068,F,19,2160,2008 - 2010,<NA>
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0,10000084,M,72,2160,2017 - 2019,2161-02-13
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaT,EU OBSERVATION,P51VDL,EMERGENCY ROOM,<NA>,Other,...,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0,10000102,F,27,2136,2008 - 2010,<NA>

2. Merge df_merge and df_transfers

In [133]:
df_merge = df_merge.merge(df_transfers, left_index=True, right_index=True)
print(len(df_merge))
df_merge.head()

299712

,subject_id_x,hadm_id_x,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,anchor_year,anchor_year_group,dod,subject_id,hadm_id_y,transfer_id,eventtype,careunit,intime,outtime
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,2180,2014 - 2016,2180-09-09,10000032,22595853.0,33258284,ED,Emergency Department,2180-05-06 19:17:00,2180-05-06 23:30:00
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,2126,2008 - 2010,<NA>,10000032,22595853.0,35223874,admit,Transplant,2180-05-06 23:30:00,2180-05-07 17:21:27
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,2160,2008 - 2010,<NA>,10000032,22595853.0,36904543,discharge,<NA>,2180-05-07 17:21:27,NaT
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,2160,2017 - 2019,2161-02-13,10000032,22841357.0,34100253,discharge,<NA>,2180-06-27 18:49:12,NaT
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaT,EU OBSERVATION,P51VDL,EMERGENCY ROOM,<NA>,Other,...,2136,2008 - 2010,<NA>,10000032,22841357.0,34703856,admit,Transplant,2180-06-26 21:31:00,2180-06-27 18:49:12

3. Merge df_merge and df_diagnoses_icd

In [136]:
df_merge = df_merge.join(df_hosp_diagnoses_icd, how='left', lsuffix='_left', rsuffix='_right')
print(len(df_merge))
df_merge.head()

299712

,subject_id_x,hadm_id_x,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,transfer_id,eventtype,careunit,intime,outtime,subject_id_right,hadm_id,seq_num,icd_code,icd_version
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,33258284,ED,Emergency Department,2180-05-06 19:17:00,2180-05-06 23:30:00,10000032,22595853,1,5723,9
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,35223874,admit,Transplant,2180-05-06 23:30:00,2180-05-07 17:21:27,10000032,22595853,2,78959,9
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,36904543,discharge,<NA>,2180-05-07 17:21:27,NaT,10000032,22595853,3,5715,9
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,34100253,discharge,<NA>,2180-06-27 18:49:12,NaT,10000032,22595853,4,07070,9
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaT,EU OBSERVATION,P51VDL,EMERGENCY ROOM,<NA>,Other,...,34703856,admit,Transplant,2180-06-26 21:31:00,2180-06-27 18:49:12,10000032,22595853,5,496,9

4. Merge df_merge and df_procedures_icd

In [138]:
df_merge = df_merge.join(df_hosp_d_icd_procedures, how='left', lsuffix='_left', rsuffix='_right')
print(len(df_merge))
df_merge.head()

299712

,subject_id_x,hadm_id_x,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,intime,outtime,subject_id_right,hadm_id,seq_num,icd_code_left,icd_version_left,icd_code_right,icd_version_right,long_title
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,2180-05-06 19:17:00,2180-05-06 23:30:00,10000032,22595853,1,5723,9,0001,9.0,Therapeutic ultrasound of vessels of head and ...
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,2180-05-06 23:30:00,2180-05-07 17:21:27,10000032,22595853,2,78959,9,0002,9.0,Therapeutic ultrasound of heart
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,2180-05-07 17:21:27,NaT,10000032,22595853,3,5715,9,0003,9.0,Therapeutic ultrasound of peripheral vascular ...
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,2180-06-27 18:49:12,NaT,10000032,22595853,4,07070,9,0009,9.0,Other therapeutic ultrasound
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaT,EU OBSERVATION,P51VDL,EMERGENCY ROOM,<NA>,Other,...,2180-06-26 21:31:00,2180-06-27 18:49:12,10000032,22595853,5,496,9,001,10.0,"Central Nervous System and Cranial Nerves, Bypass"

5. Merge df_merge with df_lab_events

In [139]:
df_merge = df_merge.join(df_hosp_d_labitems, how='left', lsuffix='_left', rsuffix='_right')
print(len(df_merge))
df_merge.head()

299712

,subject_id_x,hadm_id_x,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,seq_num,icd_code_left,icd_version_left,icd_code_right,icd_version_right,long_title,itemid,label,fluid,category
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,1,5723,9,0001,9.0,Therapeutic ultrasound of vessels of head and ...,50801.0,Alveolar-arterial Gradient,Blood,Blood Gas
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,2,78959,9,0002,9.0,Therapeutic ultrasound of heart,50802.0,Base Excess,Blood,Blood Gas
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,3,5715,9,0003,9.0,Therapeutic ultrasound of peripheral vascular ...,50803.0,"Calculated Bicarbonate, Whole Blood",Blood,Blood Gas
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,4,07070,9,0009,9.0,Other therapeutic ultrasound,50804.0,Calculated Total CO2,Blood,Blood Gas
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaT,EU OBSERVATION,P51VDL,EMERGENCY ROOM,<NA>,Other,...,5,496,9,001,10.0,"Central Nervous System and Cranial Nerves, Bypass",50805.0,Carboxyhemoglobin,Blood,Blood Gas

6. Merge df_merge with df_drgcodes

In [140]:
df_merge = df_merge.join(df_hosp_drgcodes, how='left', lsuffix='_left', rsuffix='_right')
print(len(df_merge))
df_merge.head()

299712

,subject_id_x,hadm_id_x,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,label,fluid,category,subject_id,hadm_id_right,drg_type,drg_code,description,drg_severity,drg_mortality
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,Alveolar-arterial Gradient,Blood,Blood Gas,10000032,22595853,APR,283,OTHER DISORDERS OF THE LIVER,2.0,2.0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,Base Excess,Blood,Blood Gas,10000032,22595853,HCFA,442,"DISORDERS OF LIVER EXCEPT MALIG,CIRR,ALC HEPA ...",NaN,NaN
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,"Calculated Bicarbonate, Whole Blood",Blood,Blood Gas,10000032,22841357,APR,279,HEPATIC COMA & OTHER MAJOR ACUTE LIVER DISORDERS,3.0,2.0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,Calculated Total CO2,Blood,Blood Gas,10000032,22841357,HCFA,442,"DISORDERS OF LIVER EXCEPT MALIG,CIRR,ALC HEPA ...",NaN,NaN
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaT,EU OBSERVATION,P51VDL,EMERGENCY ROOM,<NA>,Other,...,Carboxyhemoglobin,Blood,Blood Gas,10000032,25742920,APR,283,OTHER DISORDERS OF THE LIVER,3.0,2.0

7. Merge df_merge with df_emar

In [143]:
df_merge = df_merge.join(df_hosp_emar, how='left', on='subject_id',  rsuffix='_right')
print(len(df_merge))
df_merge.head()

299712

,subject_id_x,hadm_id_x,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,emar_id,emar_seq,poe_id,pharmacy_id,enter_provider_id,charttime,medication,event_txt,scheduletime,storetime
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,13695905-651,651,13695905-745,95243180.0,<NA>,2189-09-28 20:58:00,Senna,Administered,2189-09-28 20:58:00,2189-09-28 20:59:00
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,13695905-651,651,13695905-745,95243180.0,<NA>,2189-09-28 20:58:00,Senna,Administered,2189-09-28 20:58:00,2189-09-28 20:59:00
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,13695905-651,651,13695905-745,95243180.0,<NA>,2189-09-28 20:58:00,Senna,Administered,2189-09-28 20:58:00,2189-09-28 20:59:00
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,13695905-651,651,13695905-745,95243180.0,<NA>,2189-09-28 20:58:00,Senna,Administered,2189-09-28 20:58:00,2189-09-28 20:59:00
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaT,EU OBSERVATION,P51VDL,EMERGENCY ROOM,<NA>,Other,...,13695905-651,651,13695905-745,95243180.0,<NA>,2189-09-28 20:58:00,Senna,Administered,2189-09-28 20:58:00,2189-09-28 20:59:00

8. Merge df_merge with df_prescriptions

In [146]:
df_merge = df_merge.join(df_hosp_prescriptions, how='left', on='subject_id',  rsuffix='_right')
print(len(df_merge))
df_merge.head()

299712

,subject_id_x,hadm_id_x,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,007856,61314022705,5 mL Bottle,<NA>,1,DROP,0.0167,DBTL,2.0,LEFT EYE
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,007856,61314022705,5 mL Bottle,<NA>,1,DROP,0.0167,DBTL,2.0,LEFT EYE
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,007856,61314022705,5 mL Bottle,<NA>,1,DROP,0.0167,DBTL,2.0,LEFT EYE
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,007856,61314022705,5 mL Bottle,<NA>,1,DROP,0.0167,DBTL,2.0,LEFT EYE
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaT,EU OBSERVATION,P51VDL,EMERGENCY ROOM,<NA>,Other,...,007856,61314022705,5 mL Bottle,<NA>,1,DROP,0.0167,DBTL,2.0,LEFT EYE

9. Merge df_merge with df_microbiology_events

In [2]:
#Merge df_merge and df_microbiology_events
df_merge = df_merge.join(df_hosp_microbiologyevents, how='left', on='subject_id',  rsuffix='_right')
print(len(df_merge))
df_merge.head()

NameError: name 'df_merge' is not defined

In [ ]:
#Merge df_merge and df_services
df_merge = df_merge.join(df_services, how='left')
print(len(df_merge))
df_merge.head()

In [ ]:
#Saving it to a csv file
#df_merge.compute().to_csv('dataset/ch_02_end_to_end_ml.csv')