In [3]:
print(csv)

       caregiver_id
0                10
1                17
2                20
3                25
4                27
...             ...
15463         99973
15464         99978
15465         99986
15466         99992
15467         99999

[15468 rows x 1 columns]

In [2]:
import pandas as pd
csv = pd.read_parquet('caregiver.parquet', engine='pyarrow')

In [1]:
import pandas as pd

df = pd.read_parquet('caregiver.parquet', engine='pyarrow')

In [2]:

print(df.head())


print(df.info())


print(df.describe())

   caregiver_id
0            10
1            17
2            20
3            25
4            27
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15468 entries, 0 to 15467
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   caregiver_id  15468 non-null  int32
dtypes: int32(1)
memory usage: 60.5 KB
None
       caregiver_id
count  15468.000000
mean   49911.511572
std    28817.327784
min       10.000000
25%    24948.750000
50%    49792.000000
75%    74965.500000
max    99999.000000

In [7]:

print(df.isnull().sum())

df.dropna(inplace=True)


df.fillna(df.mean(), inplace=True)

caregiver_id    0
dtype: int64

In [3]:
import pandas as pd


df = pd.read_parquet('d_hcpcs.parquet', engine='pyarrow')

In [4]:

print(df.head())

print(df.info())


print(df.describe())

    code  category long_description   short_description
0  00000       NaN             None        Invalid Code
1  0001F       2.0             None  Composite measures
2  0002F       2.0             None  Composite measures
3  0003F       2.0             None  Composite measures
4  0004F       2.0             None  Composite measures
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89200 entries, 0 to 89199
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               89200 non-null  object
 1   category           82356 non-null  float64
 2   long_description   6800 non-null   object
 3   short_description  89200 non-null  object
dtypes: float64(1), object(3)
memory usage: 2.7+ MB
None
           category
count  82356.000000
mean       1.029348
std        0.202350
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        3.000000

In [5]:

print(df.isnull().sum())


df.dropna(inplace=True)


df.fillna(df.mean(), inplace=True)

code                     0
category              6844
long_description     82400
short_description        0
dtype: int64

In [13]:
import pandas as pd

df = pd.read_parquet('d_hcpcs.parquet', engine='pyarrow')


print("Columns in the dataset:")
print(df.columns)

Columns in the dataset:
Index(['code', 'category', 'long_description', 'short_description'], dtype='object')

In [18]:
import pandas as pd


df = pd.read_parquet('d_icd_procedures.parquet', engine='pyarrow')

In [6]:

print("First few rows:")
print(df.head())


print("\nInformation about the dataset:")
print(df.info())


print("\nSummary statistics:")
print(df.describe())

First few rows:
Empty DataFrame
Columns: [code, category, long_description, short_description]
Index: []

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               0 non-null      object
 1   category           0 non-null      float64
 2   long_description   0 non-null      object
 3   short_description  0 non-null      object
dtypes: float64(1), object(3)
memory usage: 0.0+ bytes
None

Summary statistics:
       category
count       0.0
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

In [24]:

print("\nMissing values:")
print(df.isnull().sum())


df.dropna(inplace=True)

Missing values:
itemid                0
label                 0
abbreviation          0
linksto               0
category              0
unitname           2422
param_type            0
lownormalvalue     3995
highnormalvalue    3992
dtype: int64

In [32]:
import pandas as pd

df = pd.read_parquet('d_items.parquet', engine='pyarrow')

In [33]:

print("First few rows:")
print(df.head())

print("\nInformation about the dataset:")
print(df.info())


print("\nSummary statistics:")
print(df.describe())


print(df.isnull().sum())


df.dropna(inplace=True)

First few rows:
   itemid                    label        abbreviation         linksto  \
0  220001             Problem List        Problem List     chartevents
1  220003       ICU Admission date  ICU Admission date  datetimeevents
2  220045               Heart Rate                  HR     chartevents
3  220046  Heart rate Alarm - High     HR Alarm - High     chartevents
4  220047   Heart Rate Alarm - Low      HR Alarm - Low     chartevents

              category unitname     param_type  lownormalvalue  \
0              General     None           Text             NaN
1                  ADT     None  Date and time             NaN
2  Routine Vital Signs      bpm        Numeric             NaN
3               Alarms      bpm        Numeric             NaN
4               Alarms      bpm        Numeric             NaN

   highnormalvalue
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4014 entries, 0 to 4013
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   itemid           4014 non-null   int32
 1   label            4014 non-null   object
 2   abbreviation     4014 non-null   object
 3   linksto          4014 non-null   object
 4   category         4014 non-null   object
 5   unitname         1592 non-null   object
 6   param_type       4014 non-null   object
 7   lownormalvalue   19 non-null     float32
 8   highnormalvalue  22 non-null     float32
dtypes: float32(2), int32(1), object(6)
memory usage: 235.3+ KB
None

Summary statistics:
              itemid  lownormalvalue  highnormalvalue
count    4014.000000       19.000000        22.000000
mean   226536.567763       65.000000       133.640915
std      2467.222449      107.356621       253.076004
min    220001.000000       -2.000000         8.000000
25%    224973.250000        4.000000        15.000000
50%    226862.500000       10.000000        22.500000
75%    228547.750000       60.000000        87.500000
max    230085.000000      299.000000       750.000000
itemid                0
label                 0
abbreviation          0
linksto               0
category              0
unitname           2422
param_type            0
lownormalvalue     3995
highnormalvalue    3992
dtype: int64

In [28]:
import pandas as pd


df = pd.read_parquet('d_labitems.parquet', engine='pyarrow')

In [29]:

print("First few rows:")
print(df.head())

print("\nInformation about the dataset:")
print(df.info())


print("\nSummary statistics:")
print(df.describe())


print(df.isnull().sum())


df.dropna(inplace=True)

First few rows:
   itemid                                label  fluid   category
0   50801           Alveolar-arterial Gradient  Blood  Blood Gas
1   50802                          Base Excess  Blood  Blood Gas
2   50803  Calculated Bicarbonate, Whole Blood  Blood  Blood Gas
3   50804                 Calculated Total CO2  Blood  Blood Gas
4   50805                    Carboxyhemoglobin  Blood  Blood Gas

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1622 entries, 0 to 1621
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   itemid    1622 non-null   int32
 1   label     1619 non-null   object
 2   fluid     1622 non-null   object
 3   category  1622 non-null   object
dtypes: int32(1), object(3)
memory usage: 44.5+ KB
None

Summary statistics:
             itemid
count   1622.000000
mean   51706.821208
std      573.623215
min    50801.000000
25%    51220.250000
50%    51688.500000
75%    52123.750000
max    53154.000000
itemid      0
label       3
fluid       0
category    0
dtype: int64

In [2]:
import pandas as pd


df = pd.read_parquet('hcpcsevents.parquet', engine='pyarrow')

In [3]:

print(df.head())


print(df.info())

print(df.describe())

   subject_id   hadm_id   chartdate hcpcs_cd  seq_num  \
0    10000068  25022803  2160-03-04    99218        1
1    10000084  29888819  2160-12-28    G0378        1
2    10000108  27250926  2163-09-27    99219        1
3    10000117  22927623  2181-11-15    43239        1
4    10000117  22927623  2181-11-15    G0378        2

               short_description
0  Hospital observation services
1    Hospital observation per hr
2  Hospital observation services
3               Digestive system
4    Hospital observation per hr
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150771 entries, 0 to 150770
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   subject_id         150771 non-null  int32
 1   hadm_id            150771 non-null  int32
 2   chartdate          150771 non-null  object
 3   hcpcs_cd           150771 non-null  object
 4   seq_num            150771 non-null  int32
 5   short_description  150771 non-null  object
dtypes: int32(3), object(3)
memory usage: 5.2+ MB
None
         subject_id       hadm_id        seq_num
count  1.507710e+05  1.507710e+05  150771.000000
mean   1.500822e+07  2.501134e+07       1.356899
std    2.870753e+06  2.884234e+06       0.871453
min    1.000007e+07  2.000003e+07       1.000000
25%    1.252834e+07  2.250509e+07       1.000000
50%    1.501616e+07  2.503036e+07       1.000000
75%    1.748011e+07  2.750074e+07       1.000000
max    1.999978e+07  2.999993e+07      15.000000

In [4]:

print(df.isnull().sum())


df.dropna(inplace=True)

subject_id           0
hadm_id              0
chartdate            0
hcpcs_cd             0
seq_num              0
short_description    0
dtype: int64

In [3]:
import pandas as pd

df = pd.read_parquet('poe_detail.parquet', engine='pyarrow')

In [4]:

print(df.head())


print(df.info())


print(df.describe())

         poe_id  poe_seq  subject_id          field_name         field_value
0  10000032-104      104    10000032      Admit category  Admit to inpatient
1  10000032-104      104    10000032            Admit to            Medicine
2  10000032-109      109    10000032      Admit category  Admit to inpatient
3  10000032-109      109    10000032  Discharge Planning           Finalized
4  10000032-111      111    10000032      Admit category  Admit to inpatient
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3879418 entries, 0 to 3879417
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   poe_id       object
 1   poe_seq      int32
 2   subject_id   int32
 3   field_name   object
 4   field_value  object
dtypes: int32(2), object(3)
memory usage: 118.4+ MB
None
            poe_seq    subject_id
count  3.879418e+06  3.879418e+06
mean   5.723801e+02  1.500660e+07
std    9.699043e+02  2.880653e+06
min    2.000000e+00  1.000003e+07
25%    8.800000e+01  1.250128e+07
50%    2.400000e+02  1.500530e+07
75%    6.360000e+02  1.751005e+07
max    2.008100e+04  1.999999e+07

In [5]:

print(df.isnull().sum())


df.dropna(inplace=True)

poe_id         0
poe_seq        0
subject_id     0
field_name     0
field_value    0
dtype: int64

In [6]:
import pandas as pd


df = pd.read_parquet('patients.parquet', engine='pyarrow')

In [7]:

print(df.head())


print(df.info())


print(df.describe())

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010        None
2    10000068      F          19         2160       2008 - 2010        None
3    10000084      M          72         2160       2017 - 2019  2161-02-13
4    10000102      F          27         2136       2008 - 2010        None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299712 entries, 0 to 299711
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   subject_id         299712 non-null  int32
 1   gender             299712 non-null  object
 2   anchor_age         299712 non-null  int16
 3   anchor_year        299712 non-null  int16
 4   anchor_year_group  299712 non-null  object
 5   dod                29076 non-null   object
dtypes: int16(2), int32(1), object(3)
memory usage: 9.1+ MB
None
         subject_id     anchor_age    anchor_year
count  2.997120e+05  299712.000000  299712.000000
mean   1.500885e+07      48.539888    2151.124056
std    2.885019e+06      20.895650      23.464598
min    1.000003e+07      18.000000    2110.000000
25%    1.250796e+07      29.000000    2131.000000
50%    1.501416e+07      48.000000    2151.000000
75%    1.750489e+07      65.000000    2171.000000
max    1.999999e+07      91.000000    2208.000000

In [8]:

print(df.isnull().sum())


df.dropna(inplace=True)

subject_id                0
gender                    0
anchor_age                0
anchor_year               0
anchor_year_group         0
dod                  270636
dtype: int64

In [9]:
import pandas as pd


df = pd.read_parquet('outputevents.parquet', engine='pyarrow')

In [10]:

print(df.head())


print(df.info())


print(df.describe())

   subject_id   hadm_id   stay_id  caregiver_id           charttime  \
0    10000032  29079034  39553978         88981 2180-07-23 15:00:00
1    10000980  26913865  39765666         36518 2189-06-27 09:08:00
2    10000980  26913865  39765666         36518 2189-06-27 09:08:00
3    10000980  26913865  39765666         36518 2189-06-27 11:00:00
4    10000980  26913865  39765666         36518 2189-06-27 13:00:00

            storetime  itemid  value valueuom
0 2180-07-23 16:00:00  226560  175.0       ml
1 2189-06-27 09:08:00  226559  450.0       ml
2 2189-06-27 09:08:00  226633  400.0       ml
3 2189-06-27 10:51:00  226559  600.0       ml
4 2189-06-27 12:55:00  226559  800.0       ml
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4234967 entries, 0 to 4234966
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   subject_id    int32
 1   hadm_id       int32
 2   stay_id       int32
 3   caregiver_id  int32
 4   charttime     datetime64[us]
 5   storetime     datetime64[us]
 6   itemid        int32
 7   value         float32
 8   valueuom      object
dtypes: datetime64[us](2), float32(1), int32(5), object(1)
memory usage: 193.9+ MB
None
         subject_id       hadm_id       stay_id  caregiver_id  \
count  4.234967e+06  4.234967e+06  4.234967e+06  4.234967e+06
mean   1.501570e+07  2.501139e+07  3.499809e+07  5.095068e+04
min    1.000003e+07  2.000009e+07  3.000015e+07  4.500000e+01
25%    1.251816e+07  2.252594e+07  3.247586e+07  2.639500e+04
50%    1.503547e+07  2.503694e+07  3.499598e+07  5.316400e+04
75%    1.750312e+07  2.749249e+07  3.749746e+07  7.791200e+04
max    1.999999e+07  2.999983e+07  3.999981e+07  9.994400e+04
std    2.883852e+06  2.875828e+06  2.895064e+06  2.894277e+04

                        charttime                   storetime        itemid  \
count                     4234967                     4234967  4.234967e+06
mean   2153-07-16 16:13:53.534115  2153-07-16 16:50:56.596751  2.265945e+05
min           2110-01-11 12:30:00         2110-01-11 12:50:00  2.265570e+05
25%           2133-05-22 17:00:00         2133-05-22 18:11:00  2.265590e+05
50%           2153-06-03 00:00:00         2153-06-03 00:15:00  2.265590e+05
75%           2173-09-11 09:00:00         2173-09-11 09:25:00  2.265600e+05
max           2211-11-11 15:32:00         2211-11-11 15:32:00  2.294140e+05
std                           NaN                         NaN  1.721959e+02

              value
count  4.234967e+06
mean   1.350025e+02
min   -3.765000e+03
25%    3.500000e+01
50%    7.500000e+01
75%    1.600000e+02
max    1.293850e+05
std    2.480186e+02

In [11]:

print(df.isnull().sum())

df.dropna(inplace=True)

subject_id      0
hadm_id         0
stay_id         0
caregiver_id    0
charttime       0
storetime       0
itemid          0
value           0
valueuom        0
dtype: int64

In [12]:
import pandas as pd


df = pd.read_parquet('omr.parquet', engine='pyarrow')

In [13]:

print(df.head())


print(df.info())


print(df.describe())

   subject_id   chartdate  seq_num      result_name result_value
0    10000032  2180-04-27        1   Blood Pressure       110/65
1    10000032  2180-04-27        1     Weight (Lbs)           94
2    10000032  2180-05-07        1      BMI (kg/m2)         18.0
3    10000032  2180-05-07        1  Height (Inches)           60
4    10000032  2180-05-07        1     Weight (Lbs)        92.15
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6439169 entries, 0 to 6439168
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   subject_id    int32
 1   chartdate     object
 2   seq_num       int32
 3   result_name   object
 4   result_value  object
dtypes: int32(2), object(3)
memory usage: 196.5+ MB
None
         subject_id       seq_num
count  6.439169e+06  6.439169e+06
mean   1.501668e+07  1.119485e+00
std    2.881851e+06  1.044536e+00
min    1.000003e+07  1.000000e+00
25%    1.253175e+07  1.000000e+00
50%    1.502411e+07  1.000000e+00
75%    1.750936e+07  1.000000e+00
max    1.999983e+07  6.700000e+01

In [14]:

print(df.isnull().sum())


df.dropna(inplace=True)

subject_id      0
chartdate       0
seq_num         0
result_name     0
result_value    0
dtype: int64